.vscode/
.idea/
.DS_Store
*.iml
_output/
vendor/
cli/mayactl/__pycache__
cli/mayactl/bin/__pycache__
cli/dist/
cli/mayactl.egg-info/
cli/mayactl/build_info/info.py
./run_manager.sh
bin/
_tmp/
*.pyc
venv/
.data
.run
